In [ ]:
#Per trovare la sequenza del signal peptide da analizzare per l'ultimo step di data analysis (sequence logos of SP cleavage site). Extract the cleavage ...
#i=15 seq[i-13:i+2] ovvero mi prende indice 15 della

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
training_set=pd.read_csv("training_file_all_seq.tsv",sep="\t")
benchmark_set=pd.read_csv("benchmark_arricchito.tsv", sep="\t")
benchmark_set["subset_number"]="benchmark"

In [16]:
print(len(training_set))
print(len(benchmark_set))
training_set.head()

8020
2006

,Accession,Organism,Kingdom,Sequence length,SP cleavage,transmembrane_term,Sequence,subset_number
0,B0XT72,Aspergillus fumigatus (strain CBS 144.89 / FGS...,Fungi,452,19,Null,MKASAVTAALAVGASTVLAAPSIKARDDVTPITVKGNAFFKGDERF...,1
1,Q96AP7,Homo sapiens,Metazoa,390,29,Null,MISLPGPLVTNLLRFLFLGLSALAPPSRAQLQLHLPANRLQAVEGG...,1
2,Q6RG02,Penaeus merguiensis,Metazoa,2586,18,Null,MTTSTLLFVLAFVAGGLAAPWGADVPRCSTECPVTGSPKLAYQPDK...,1
3,O54861,Rattus norvegicus,Metazoa,825,31,Null,MERPRGAADGLLRWPLGLLLLLQLLPPAAVGQDRLDAPPPPAPPLL...,1
4,P34951,Hordeum vulgare,Viridiplantae,143,24,Null,MASCSQHLLSAVAIFSVLAGVATATSIYTCYEGMGLPVNPLQGCRF...,1

In [17]:
benchmark_set.head()

,Accession,Organism,Kingdom,Sequence length,SP cleavage,transmembrane_term,Sequence,subset_number
0,P48732,Arabidopsis thaliana,Viridiplantae,543,False,False,MFTSGNVTARVFERQIRTPPPGASVNRARHFYENLVPSYTLYDVES...,benchmark
1,Q12497,Saccharomyces cerevisiae (strain ATCC 204508 /...,Fungi,93,False,False,MLRTTFLRTPRQLMRKSPRASFSIVTRAAFPHLKNNQDEAEKKEQG...,benchmark
2,P92276,Chlamydomonas reinhardtii,Viridiplantae,62,False,True,MTSILQVALLALIFVSFALVVGVPVVFATPNGWTDNKGAVFSGLSL...,benchmark
3,P61460,Mus musculus,Metazoa,1591,False,False,MRTTKVYKLVIHKKGFGGSDDELVVNPKVFPHIKLGDIVEIAHPND...,benchmark
4,Q41142,Ricinus communis,Viridiplantae,808,False,False,MAQISLHGTLHVTIYEVDKLHSGGGPHFFRKLVENIEETVGFGKGV...,benchmark

In [12]:
SP_df=training_set[training_set["SP cleavage"].notna()]
print(len(SP_df))
SP_df.head()

8024

,Accession,Organism,Kingdom,Sequence length,SP cleavage,transmembrane_term,Sequence,subset_number
0,B0XT72,Aspergillus fumigatus (strain CBS 144.89 / FGS...,Fungi,452,19,Null,MKASAVTAALAVGASTVLAAPSIKARDDVTPITVKGNAFFKGDERF...,1
1,Q96AP7,Homo sapiens,Metazoa,390,29,Null,MISLPGPLVTNLLRFLFLGLSALAPPSRAQLQLHLPANRLQAVEGG...,1
2,Q6RG02,Penaeus merguiensis,Metazoa,2586,18,Null,MTTSTLLFVLAFVAGGLAAPWGADVPRCSTECPVTGSPKLAYQPDK...,1
3,O54861,Rattus norvegicus,Metazoa,825,31,Null,MERPRGAADGLLRWPLGLLLLLQLLPPAAVGQDRLDAPPPPAPPLL...,1
4,P34951,Hordeum vulgare,Viridiplantae,143,24,Null,MASCSQHLLSAVAIFSVLAGVATATSIYTCYEGMGLPVNPLQGCRF...,1

In [14]:
# reduce the dataframe to keep only the columns of interest
sp_seqs=SP_df[["Accession" , "SP cleavage" , "Sequence", "subset_number"]]
print(len(sp_seqs))
sp_seqs.head()

8024

,Accession,SP cleavage,Sequence,subset_number
0,B0XT72,19,MKASAVTAALAVGASTVLAAPSIKARDDVTPITVKGNAFFKGDERF...,1
1,Q96AP7,29,MISLPGPLVTNLLRFLFLGLSALAPPSRAQLQLHLPANRLQAVEGG...,1
2,Q6RG02,18,MTTSTLLFVLAFVAGGLAAPWGADVPRCSTECPVTGSPKLAYQPDK...,1
3,O54861,31,MERPRGAADGLLRWPLGLLLLLQLLPPAAVGQDRLDAPPPPAPPLL...,1
4,P34951,24,MASCSQHLLSAVAIFSVLAGVATATSIYTCYEGMGLPVNPLQGCRF...,1